.git
.gitignore
src
node_modules
dist/*.map
*.ts
*.tsx
!dist/extension.js
!dist/webview.js
!dist/style.css
package-lock.json
npm-debug.log
*.vsix
.DS_Store
.eslintrc.json
.prettierignore
vite.config.ts
tsconfig*.json
build/
test/
